/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('lp-light.jpg'); 
    background-size: cover;
    background-position: center;
}

.product-container {
    text-align: center;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #333; 

.product {
    margin-bottom: 20px;
}

.add-to-cart-button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.add-to-cart-button:hover {
    background-color: #0056b3; 
}

#logout {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.cart-icon {
    font-size: 24px;
    margin-right: 5px;
}

.cart-value {
    font-weight: bold;
}
