/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('lp-light.jpg'); 
    background-size: cover;
    background-position: center;
}

.login-container {
    text-align: center;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #333; /* Heading color */
}

form {
    display: inline-block;
    text-align: left;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth button hover effect */
}

button:hover {
    background-color: #0056b3; /* Button background color on hover */
}
